{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}

{% endblock title %}
{% block content %}
<!--==========================
    Intro Section
  ============================-->
  <section id="about-intro">
    <div class="about-intro-container  ">
      <h1 class="mb-4 pb-0">About<br><span>Al</span>majles </h1>
      <p class="mb-4 pb-0">The official platform for news of the National Assembly</p>
     
  </section>
      <!--==========================
      Schedule Section
    ============================-->
    <section id="schedule" class="section-with-bg">
        <div class="container fadeInUp ">
          <div class="section-header">
            <h2> Kuwait National Assembly </h2>
            <p>Welcome to AlMajles</p>
          </div>
  

  
          <h3 class="sub-heading">This is the official news hub of the Kuwait National Assembly. From ongoing sessions to articles written by various candidates, here you have your platform which provides the people of Kuwait with credible news and updates regarding laws issued upon the approval of the Assembly and the ratification of H.H. the Amir. </h3>
  
          <div class="tab-content row justify-content-center">
  
            <!-- Schdule Day 1 -->
            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
  

                

              
  
              
            </div>
            <!-- End Schdule Day 1 -->
  
          </div>
  
        </div>
  
      </section>
  

    <!--==========================
      Article Section
    ============================-->
   
                <!-- <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div> -->
{% endblock content %}               