<!doctype html>
{% load static %}
<html lang="en">
  <head>

     <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}"> -->
    <title>{% block title %}{% endblock title %}</title>

    <style>
      .my-card{
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
   <!--==========================
    Header
  ============================-->
  <header id="header" >
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="{% url 'home' %}">Al<span>Maj</span>les</a></h1>
        <!-- <a href="#intro" class="scrollto"><img src="{% static 'img/logo.png' %}" alt="" title=""></a> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="{% url 'candidate-list' %}">Candidates</a></li>
          <li><a href="{% url 'session-list' %}">Sessions</a></li>
          <li><a href="{% url 'article-list' %}">Articles</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="#contact">Profile</a></li>
          <li><a href="{% url 'logout' %}">Logout ({{request.user.username}})</a></li>
          {% else %}
          <li><a href="{% url 'citizen-login' %}">Login</a></li>
          <li><a href="{% url 'citizen-register' %}">Sign Up</a></li>
          {% endif%}
        </ul>
      </nav><!-- #nav-menu-container -->


      
    </div>
  </header><!-- #header -->

   

    
      {% block content %}
        
      {% endblock content %}


     <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>