{% extends "base.html" %}

{% block title %}
Majlesy
{% endblock title %}

{% block content %}
<!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container  ">
      <h1 class="mb-4 pb-0">Get the news<br><span>From</span> The source</h1>
      <p class="mb-4 pb-0">The official platform for news of the National Assembly</p>
      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="#about" class="about-btn scrollto">About The Event</a>
    </div>
  </section>
      <!--==========================
      Schedule Section
    ============================-->
    <section id="schedule" class="section-with-bg">
        <div class="container fadeInUp ">
          <div class="section-header">
            <h2>Latest Sessions</h2>
            <p>Here are some of our latest sessions</p>
          </div>
  

  
          <h3 class="sub-heading">Voluptatem nulla veniam soluta et corrupti consequatur neque eveniet officia. Eius
            necessitatibus voluptatem quis labore perspiciatis quia.</h3>
  
          <div class="tab-content row justify-content-center">
  
            <!-- Schdule Day 1 -->
            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
  

                {% for session in sessions %}
                <div class="row schedule-item">
                    <div class="text-center align-center col-md-2"><date>{{session.date}}</date></div>
                    <div class="text-center align-center col-md-8">
                      <h4>{{session.title}}</h4>
                      <p>{{session.description}}</p>
                     
                    </div>
                    <div class="text-center align-center col-md-1 align-middle"> <a href="{% url 'session-detail' session.id %}" class="btn btn-outline-light">More Details</a></div>
                  </div>
                  {% endfor %}

              
  
              
            </div>
            <!-- End Schdule Day 1 -->
  
          </div>
  
        </div>
  
      </section>
  

    <!--==========================
      Article Section
    ============================-->
    <section id="hotels" class="section-with-bg  fadeInUp">

        <div class="container">
          <div class="section-header">
            <h2>Articles</h2>
            <p>Here are some of the latest Articles</p>
          </div>
  
          <div class="row">
  
            {% for article in articles %}
            <div class="col-lg-4 col-md-6">
              <div class="hotel">
                <div class="hotel-img">
                    {% if article.image %}
                    <img src="{{article.image.url}}" height="100px" class="img-fluid" alt="{{article.title}}">
                    {% endif %}
                </div>
                <h3><a href="#">{{article.title}}</a></h3>
                <!-- <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div> -->
                <p>{{article.description}}</p>
              </div>
            </div>
  
            {% endfor %}
  
          </div>
        </div>
  
      </section>
  
      <!--==========================
<div class="container-fluid">
    <div class="row">
        <h1> Latest Articles</h1>
        {% for article in articles %}
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    {% if article.image %}
                    <img src="{{article.image.url}}" class="card-img-top" alt="{{article.title}}">
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{article.title}}</h5>
                      <p class="card-text">{{article.description}}</p>
                      <a href="{% url 'article-detail' article.id %}" class="btn btn-primary">More Details</a>
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <h1> Latest Sessions</h1>
        {% for session in sessions %}
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{session.creator.user.first_name}} {{session.creator.user.last_name}}</h5>
                      <p class="card-text">{{session.description}}</p>
                      <a href="{% url 'session-detail' session.id %}" class="btn btn-primary">More Details</a>
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}