{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}

{% endblock title %}
{% block content %}
<div>
    <h1>Written by: {{comment.creator.user.first_name}}</h1>
    <p>Content: {{comment.content}}</p>
    <form class="mt-5 pt-5 container jumbotron" action="{% url 'manager-approval' comment.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="add comment"/>
    </form>
</div>
{% endblock content %}