{% extends "base.html" %}

{% block title %}

{% endblock title %}

{% block content %}
<!-- <div>
    <h1>Session List</h1>
    <div class="row">
        {% for session in sessions %}
        <div class="col-3">
            <h2>{{session.description}}</h2>
        </div>
        {% endfor %}
    </div>
</div> -->


    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
        <div class="container mt-5">
  
          <div class="section-header">
            <h2>Sessions</h2>
            <p>Description here </p>
          </div>
          {% if creator %}
          <div class="row">
            <div class="col-12 text-right align-right">
              <a href="{% url 'session-create' %}" class="btn btn-info">Add Session</a>
            </div>
          </div>
          {% endif %}
  
          <div class="row">
            {% for session in sessions %}
            <div class="col-lg-4 mt-3">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">{{session.date}}</h5>
                  <h6 class="card-price text-center" style="color: #065172;">{{session.title}}</h6>
                  <hr>
                  <ul class="fa-ul">
                    <li class="session-card"  style="color: #065172;">{{session.description|slugify|slice:"0:25"}} ...</li>
                    <li class="session-card"  style="color: #065172;">Attendees: {{session.attendees.count}}</li>
                  </ul>
                  <hr>
                  <div class="text-center">
                    <a href="{% url 'session-detail' session.id %}" type="button" class="btn"  >More Details</a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
  
        </div>
  
        <!-- Modal Order Form -->
        <div id="buy-ticket-modal" class="modal fade">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Buy Tickets</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
  
      </section>
  
 
{% endblock content %}