{% extends 'base.html' %}
{% block title %}

{% endblock title %}
{% block content %}

<div class="container-fluid mt-5">
    <div class="row p-5">
        <div class="col-12">
            <h1 class="section-header text-center align-center">{{session.title}}</h1>
        </div>
    </div>
    <div class="col-12">
        <h3>Description: {{session.description}}</h3>
    </div>
    <div class="col-12">
        <h3>Date: {{session.date}}</h3>
    </div>
    <div class="col-12">
        <h3>Attendees:</h3>
        <table class="table  table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
              </tr>
            </thead>
            <tbody>
                {% for attender in session.attendees.all %}
              <tr>
                <th scope="row">{{attender.id}}</th>
                <td>{{attender.user.first_name}}</td>
                <td>{{attender.user.last_name}}</td>
  
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>

    <div class="col-12">
        <h3>Suggestions:</h3>
        <table class="table table-borderless table-dark">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Votes</th>
              </tr>
            </thead>
            <tbody>
             {% for suggestion in suggestions %}
             <tr>
                <th scope="row">{{suggestion.title}} </th>
                <td>{{suggestion.description}}</td>
                <td>{{suggestion.vote}}/{{session.attendees.count}}</td>
              </tr>
             {% endfor %}
            </tbody>
          </table>
    </div>
</div>


<div class="col-12">
    <h3>comments:</h3>
    <ul class="list-group">
        {% for comment in comments %}
        <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
          {{comment.creator.user.first_name}} {{comment.creator.user.last_name}} says: {{comment.content}}
          <span class="badge badge-primary badge-pill">{% if comment.vote == True %}Voted: Yes{% else %}Voted: No{% endif %}</span>
        </li>
        {% endfor %}
       
      </ul>
</div>
<div class="col-12 text-center align-center mx-auto mt-5">
    <a href="{% url 'comment-create' session.id %}" class="btn btn-outline-danger ">Comment/Vote</a>
</div>
</div>
{% endblock content %}
