{% extends "base.html" %}

{% block title %}
My Profile
{% endblock title %}

{% block content %}
<div class="container mt-5 p-5">
    <div class="row pt-5 bg-light text-center align-center">
        <div class="col-12">

                    <h1>{{profile.user.first_name}} {{profile.user.last_name}}'s Profile</h1>
   
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 text-right align-right ">
          
            <img src="{{profile.image.url}}" alt="{{profile.user.first_name}} {{profile.user.last_name}}" class="img-thumbnail">
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body bg-light">
                <div class="row">
                    <div class="col-6 text-left align-left">
                        <h2>Details</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">

                        <h3>Date of Birth: {{profile.dob}}</h3>
                        <h3>Civil ID Number: {{profile.civil_no}}</h3>
                        <h3>Graduated From: {{profile.university}}</h3>
                        <h3>Years of Experience: {{profile.years_of_experience}}</h3>
                    </div>
                </div>
                </div>
              </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 text-center align-center">
            <table class="table table-light light-light table-md-responsive">
                <thead>
                  <tr>
                    <th scope="col">Article ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Date Posted</th>
                  </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                  <tr>
                    <th scope="row"><a href="{% url 'article-detail' article.id %}"> {{article.id}}</a></th>
                    <td><a href="{% url 'article-detail' article.id %}"> {{article.title}}</a></td>
                    <td>{{article.date_posted}}</td>
                  </tr>
                  {% endfor %}
               
                </tbody>
              </table>
              
        </div>
    </div>
</div>
{% endblock content %}